absl-py==2.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
deepdiff==7.0.1
dm-env==1.6
dm-tree==0.1.8
enum34==1.1.10
idna==3.7
mock==5.1.0
mpyq==0.2.5
numpy==2.0.1
ordered-set==4.1.0
portpicker==1.6.0
protobuf==5.27.3
psutil==6.0.0
pygame==2.6.0
PySC2==4.0.0
requests==2.32.3
s2clientprotocol==5.0.13.92440.3
s2protocol==5.0.13.92440.4
scipy==1.13.1
sk-video==1.1.10
urllib3==2.2.2
websocket-client==1.8.0
